@box-size: 57px;
/*width > height ? height/10: width/10;*/
@green: #A3E8C0;
@red: #F5A99E;
@background-color: #fff;
@header-color: #fff;
@button-color: #484A4F;

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	background: @background-color;
}

.border {
	border: 1px solid #f0f0f0;
}

header {
	width: 100%;
	height: 70px;
	/*-webkit-box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);
	-moz-box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);
	box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);*/
	border-bottom: 1px solid rgba(111,111,111,0.22);
	margin-bottom: 10px;
	background: @header-color;
}

h1 {
	display: inline-block;
	position: relative;
	bottom: 4px;
	float: right;
	right: 30px;
}

.sudoku-box {
	width: @box-size;
	height: @box-size;
	font-size: 24px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	color: #2D3E51;
	outline: none;
	.border;
}

input {
	background: @background-color;
}

.container {
	margin: 0 auto;
	display: table;
}

#board {
	margin: 27 auto 0;
	text-align: center;
	float: left;
}

.sudoku-box:disabled {
	color: #4FA2E4;
}

.valid {
	background-color: @green;
	color: #fff;
	border: none;
}

.invalid {
	background-color: @red;
	color: #fff;
	border: none;
}

#menu-items {
	width: 250px;
	height: 160px;
	display: inline-block;
	position: absolute;
	border: 1px solid rgba(111,111,111,0.09);
	background: @header-color;
	top: 80px;
	left: 20px;
}

input[type=checkbox] {
	visibility: hidden;
}

#auto-validate-option {
	display: inline-block;
	position: relative;
	left: 30px;
}


/* borders for 3x3 blocks */

.border-top {
	border-top: 2px solid rgba(0,0,0,0.6);
}

.border-bottom {
	border-bottom: 2px solid rgba(0,0,0,0.6);
}

.border-right {
	border-right: 2px solid rgba(0,0,0,0.6);
}

.border-left {
	border-left: 2px solid rgba(0,0,0,0.6);
}

.options {
	text-align: center;
	display: inherit;
	width: 180px;
	padding-top: 20px;
}

.option1 {
	display: inline-block;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 13px;
	border: none;
}

.button {
	width: 160px;
	height: 70px;
	background: transparent;
	border: 2px solid @button-color;	
	outline: none;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.button:active {
	outline: none;
}

.button:hover {
	background: @button-color;
	color: #fff;
}

.option2 {
	display: inline-block;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}

@media (max-width: 800px) {
	#board {
		float: none;
	}

	.options {
		width: 100%;
	}
}

@media (max-width: 600px) and (min-width: 400px) {
	.sudoku-box {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 400px) {
	.sudoku-box {
		width: 35px;
		height: 35px;
	}

	.option1 {
		padding: 0px;
	}

	.button {
		width: 315px;
	}
}

@media (max-width: 320px) {
	.sudoku-box {
		width: 25px;
		height: 25px;
		font-size: 1em;
	}

	.button {
		width: 225px;
	}
}

@media (max-width: 230px) {
	.sudoku-box {
		width: 15px;
		height: 15px;
		font-size: 0.6em;
	}

	.option1 {
		margin-top: 10px;
	}

	.button {
		width: 70%;
	}
}

@media (max-width: 160px) {
	.sudoku-box {
		width: 10px;
		height: 10px;
		font-size: 0.1em;
	}
}