@box-size: 60px;
/*width > height ? height/10: width/10;*/
@green: #A3E8C0;
@red: #F5A99E;

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}

.border {
	border: 1px solid #f0f0f0;
}

header {
	width: 100%;
	height: 70px;
	-webkit-box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);
	-moz-box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);
	box-shadow: 0px 10px 60px 0px rgba(211,211,211,0.29);
	border-bottom: 1px solid rgba(111,111,111,0.09);
	margin-bottom: 10px;
}

h1 {
	display: inline-block;
	position: relative;
	left: 10px;
	bottom: 10px;
}

.sudoku-box {
	width: @box-size;
	height: @box-size;
	font-size: 24px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	color: #2D3E51;
	outline: none;
	.border;
}

#board {
	.border;
	margin: 0 auto;
	display: table;
	text-align: center;
}

.sudoku-box:disabled {
	color: #4FA2E4;
}

.valid {
	background-color: @green;
	color: #fff;
	border: none;
}

.invalid {
	background-color: @red;
	color: #fff;
	border: none;
}

#menu-items {
	width: 250px;
	height: 160px;
	display: inline-block;
	position: absolute;
	border: 1px solid rgba(111,111,111,0.09);
	background: #fff;
	top: 80px;
}

input[type=checkbox] {
	visibility: hidden;
}

#auto-validate-option {
	display: inline-block;
	position: relative;
	left: 30px;
}

#toggle {
	width: 70px;
	height: 40px;
	background: #333;
	display: inline-block;

	/*border-radius: 2px;*/
	position: relative;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

#toggle:hover label {
	width: 30px;
	height: 30px;
}

#toggle:hover {
	width: 71px;
	height: 41px;
}

#toggle label {
	display: block;
	width: 28px;
	height: 28px;
	/*border-radius: 20%;*/

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 6.5px;
	z-index: 1;
	left: 6px;
	background: @red;

	/*text properties*/
	text-align: center;
	font-size: 1.4em;
	color: #fff;
}

#toggle input[type="checkbox"]:checked + label {
	left: 36px;
	background: @green;
}

#auto-validate-label {
	display: inline-block;
	position: relative;
	top: 14px;
	right: 14px;
}

#submit-label {
	position: relative;
	display: inline-block;
	left: 14px;
}

#submit {
	display: inline-block;
	position: relative;
	top: 30px;
	left: 94px;
	width: 70px;
	height: 40px;
	background: @red;
	border: none;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

#submit:hover {
	background: @green;
	width: 72px;
	height: 42px;
}

#submit:focus {
	outline: none;
}

#submit:active {
	top: 28px;
	background: #F89406;
}

/* borders for 3x3 blocks */

.border-top {
	border-top: 2px solid black;
}

.border-bottom {
	border-bottom: 2px solid black;
}

.border-right {
	border-right: 2px solid black;
}

.border-left {
	border-left: 2px solid black;
}